
.column{
    display: grid;
    grid-template-columns: 50% 50%;
    padding = 20 px;
}

h2{
    padding:20px;
    text-align: center;
}


.wrapper{
	width: 70%;
	margin:auto;
    font-family:Helvetica;
}





